<!DOCTYPE html>
<html>
  <head>
    <title>Lavatory Logger</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.min.css" />
    <meta charset="utf-8" />
    <!--Icons-->
    <script defer src="/javascripts/fontawesome-all.min.js"></script>
  </head>
  <body>
    <div class="jumbotron no-margin">
      <div class="container">
        <h1>Lavatory Logger</h1>
      </div>
    </div>
    <div class="container">
      <form action method="post" class="form">
        <div class="form-group <% if(incorrect) { %>has-error has-feedback<% } %>">
          <% if(incorrect) { %>
            <label class="control-label" for="incorrect-password">Incorrect Password</label>
          <% } %>
          <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-search" aria-hidden="true"></span></div>
            <input class="form-control" placeholder="Password" name="password" type="password" required="true">
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember" id="remember"> Remember Me
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-default" id="pass-btn">Submit</button>
      </form>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>